<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Pets Form</title>
</head>
<body>
<form th:action="@{/savePet}" method="post" th:object="${pets}">
    <input placeholder="name" th:field="*{name}"><br>
    <input placeholder="type" th:field="*{type}"><br>
    <button type="submit">Zapisz</button>
</form>

</body>
</html>